.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: clamp(20px, 2vw, 40px); /* Adjust margin for smaller screens */
  margin-top: clamp(20px, 2vw, 40px); /* Adjust margin for smaller screens */
  /* Gap adjusts with screen size */
}

.rightSection {
  display: flex;
  align-items: center;
  gap: clamp(16px, 4vw, 56px); /* Gap adapts for smaller screens */
}

.leftSection {
  display: flex;
  align-items: left;
  justify-content: center;
}

.leftSection h5 {
  color: #FFF;
  font-family: Poppins, sans-serif;
  font-size: clamp(14px, 1.5vw, 18px); /* Adjust font size for smaller screens */
  font-style: normal;
  font-weight: 300;
  line-height: normal;  
  width:320px ;
}

.rightSection p {
  color: #FFF;
  font-family: Poppins, sans-serif;
  font-size: clamp(14px, 1.5vw, 18px); /* Adjust font size for smaller screens */
  font-style: normal;
  font-weight: 300;
  line-height: normal; 
  width: max-content; 
}

.ArrowUp {
  transform: rotate(270deg);
}

.ArrowUpButton {
  background-color: transparent;
  width: clamp(40px, 4vw, 60px); /* Adjust width for smaller screens */
  height: clamp(40px, 4vw, 60px); /* Adjust height for smaller screens */
  flex-shrink: 0;  
  stroke-width: 1px;
  stroke: #FFF;  
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (max-width:760px) {
  .footer{
    flex-direction: column;
    gap: 20px;
  }
  h5{
    width: auto;
  }
}